# Env
.env
*.local
/apps/api/google-credentials.json


# Python
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
build/
.vite/

# Mongo/local data
infra/mongo-data/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
